/* ===== Botón cohete (solo escritorio) ===== */
.rocket-button {
  position: fixed;
  bottom: 30px;
  right: 21px;
  width: 60px;
  height: 60px;
  background: var(--gradient-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
  box-shadow: var(--shadow-glow);
  transition: var(--transition);
  z-index: 1000;
  border: none;
  color: white;
  animation: float 3s infinite alternate;
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  scale: 0.92;

  overflow: visible;

}

.rocket-button:hover {
  transform: scale(1.1) rotate(-10deg);
  box-shadow: var(--shadow-glow-strong);
  background: var(--gradient-2);
  transition: transform 0.3s ease;
}

.rocket {
  scale: 0.87;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  margin: 0;

  transform: scale(0.99) rotate(0deg);
  transition: transform 0.3s ease;

  overflow: visible;

}

.rocket-button:hover .rocket {
  transform: scale(1.01) rotate(-46deg);
  transition: transform 0.3s ease;
}


@media (max-width: 768px) {
  .rocket-button {
    display: flex;
    scale: 0.81;
    right: 2px;
  }

  .rocket {
    margin-top: 9px;
    transition: transform 0.3s ease;

  }

  .rocket-button:hover .rocket {
    margin-left: 8px;
  }
}

/* ===== Fuego recto del cohete ===== */
.rocket-button:hover .rocket::before {
  content: '';
  position: absolute;
  margin-top: -8px;
  bottom: -4px;
  /* justo debajo del cohete */
  width: 8px;
  /* ancho del fuego */
  height: 22px;
  /* altura inicial */
  background: linear-gradient(to bottom, #c3c3c3, #e6e6e6, #e1dedc, #c0c4cf);

  border-radius: 50% 50% 50% 50%;
  animation: humo-cohete 0.9s infinite alternate;
  filter: blur(2px);

  left: -2px;
  z-index: 4;

  transform: rotate(226deg);
  scaleY: 1.08;
}

/* Animación vertical sin inclinar */
@keyframes humo-cohete {
  0% {
    height: 20px;
    opacity: 0.8;
  }

  50% {
    height: 28px;
    opacity: 1;
  }

  100% {
    width: 9px;
    height: 24px;
    opacity: 0.87;
  }
}